# 脚本运行间隔定义
## 此配置变量仅作用于 Docker 容器，本地运行请忽略
CRONTAB_TIME="*/15 * * * * root /app/bin/auto-bbdown.sh"

# 是否启用 BBDown 日志 (true/false)
## 启用后 BBDown 日志将输出到日志和标准输出
ENABLE_BBDOWN_LOG=false

# 是否启用 Telegram 消息 (true/false)
## 启用后脚本运行日志将通过 Telegram 机器人发送到指定聊天
ENABLE_TG_MSG=true

# 是否启用 Telegram 消息调试 (true/false)
## 启用后将发送所有日志消息到 Telegram，包括 DEBUG 日志
TG_MSG_DEBUG=false

# 是否启用日志消息调试 (true/false)
## 启用后将输出所有日志消息到日志和标准输出，包括 DEBUG 日志
LOG_MSG_DEBUG=true

# BBDown 命令及配置文件路径 (建议配置为绝对路径)
## 例如: BBDOWN="/app/bin/BBDown --config-file /app/BBDown.config"
BBDOWN="/app/BBDown --config-file /app/config/BBDown.config"

# 视频下载根目录 (建议配置为绝对路径)
ROOT_DOWNLOAD_DIR="/app/downloads"

# 动态数据文件路径 (用于存储上次运行时的动态数据， 建议配置为绝对路径)
DYNAMIC_DATA="/app/DYNAMIC_DATA.json"

# 日志目录 (建议配置为绝对路径)
LOG_DIR="/app/logs"

# Telegram 消息 ID 文件路径 (临时文件，用于存储消息 ID)
MSG_ID_FILE="/tmp/bbdown_msg_id.tmp"

# 锁文件路径 (临时文件，用于防止多实例运行)
LOCK_FILE="/tmp/bbdown.lock"

# Telegram 机器人令牌 (例如: BOT_TOKEN="5000000000:AABbbbbbbbbbbbbbbbbbbb")
BOT_TOKEN="5000000000:AABbbbbbbbbbbbbbbbbbbb"

# Telegram 聊天ID (例如: CHAT_ID="-1001680000000")
CHAT_ID="-1001680000000"

# 下载模式 (all/black/white)
## all: 忽略 $UP_ID，下载所有新视频
## black: UP 主下载黑名单模式，不下载黑名单中的 UP 主视频
## white: UP 主下载白名单模式，仅下载白名单中的 UP 主视频
DOWNLOAD_MODE="all"

# UP 主 ID 列表 (例如: UP_ID="946974,18202105,99157282")
UP_ID=""

# B 站 WEB 端 COOKIE 文件路径
## 可以直接调用 BBDown 二进制文件同目录下的 BBDown.data 文件
COOKIE=$(cat /app/BBDown.data)